.App {
  display: flex;
  justify-content: center;
  .App__wrapper{
    max-width: 560px;
    padding: 0 16px;
    ul{
      list-style: none;
      padding: 0;
    }
  }
}

.Card__avatar{
  width: 96px;
  height: 96px;
  background-color: rgb(235, 235, 235);
}